---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			Hello! I'm Sarah Fedorchak, a computer science student at The University of Texas at Austin. 
			I'm driven by my passion for creating innovative technical solutions that sit at the crossroads of business 
			and technology. I love tackling challenges that allow me to combine creativity with my technical skills. 
			I'm currently seeking a software engineering internship for Summer 2025 and I'm excited to find opportunities 
			where I can make a meaningful impact by leveraging both my technical expertise and business insights.
		</p>
	</div>
</section>
