---
import { Icon } from 'astro-icon/components';
---

<a href="https://github.com/sarahfedorchak" target="_blank" rel="noopener" aria-label="github"
	><Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="mdi:github"
		size={100}
	/></a
>
<a href="https://www.linkedin.com/in/sarah-fedorchak/" target="_blank" rel="noopener" aria-label="linkedin"
	><Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="mdi:linkedin"
		size={100}
	/></a
>
<a href="mailto:sarahfedorchak@utexas.edu" aria-label="email">
	<Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="mdi:email"
		size={100}
	/>
</a>
